.headerContainer {
  background-color: var(--white-100);
}

.headerContent {
  max-width: 90%;
  margin: 0 auto;
  height: 5rem;
  padding: 0 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  div {
    display: flex;
    align-items: center;

    img {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.5rem;
    }
  }

  nav {
    height: 5rem;
  }

  a {
    padding: 0 1rem;
    height: 5rem;
    line-height: 5rem;
    cursor: pointer;
    color: var(--black-500);
    font-size: 1.1rem;

    &:hover {
      color: var(--black);
    }
  }


}